<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	    <add key="bot_key1" value="5800422091:AAFZiNs_71HMT2plQGMfYjmAQfkGNoeoHvA"/>
	    <add key="bot_key" value="8360154990:AAFFJXho6YYNE2ZQMFiiSAsL8zUTwwR6qaI"/>
	    <add key="bot_key2" value="t.me/vcl_softbots_bot"/>
	    <add key ="db_connection_2" value="Port=5432;Host=127.0.0.1;Username=postgres;Password=BeK_159753;Database=new"/>
	    <add key ="db_connection" value="Port=5454;Host=62.209.128.51;Username=postgres;Password=wRMlQlzLmuTO1K0qLOzP;Database=alldb"/>
	</appSettings>
</configuration>